%fechas {
    text-align: center;
    margin: 0rem 7rem 7rem 7rem;
    background-color: black;
    border: 4px;
    border-radius: 8px;
    border-color: lightslategray;
    border-style: groove;
}


