// MIXIN

@mixin bodyBasics {
    background-color: black;
    width: 100%;
    height: 100%;
    
}



@mixin grid-col {
    display: grid;
    grid: column;
    justify-content: center;
    min-height: 80vh;
    align-items: center;
}


@mixin expoMusica {
        text-align: center;
        justify-content: center;
        width: 50%;
        height: 500px;   
}

