//variables


$color-titulos: rgb(186, 146, 82);
$color-estandar: rgb(185, 119, 14);
$color-fondos:  rgb(74, 35, 90);
$color-fondos2:  rgb(27, 14, 32);
$tamano-estandar: 1.2rem;
$fuente-texto: 'Montserrat', sans-serif;


